/* Reset style */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    /* text-decoration: underline;
    text-decoration: line-through; */
}

/* global style */
.container{
    width: 80%;
    margin: auto;
}
.bg-light{
    background-color: lightgray;
}
.text-blue{
    color: #0C65ED;
}
.text-white{
    color: white;
}
.text-center{
    text-align: center;
}
.d-inline-block{
    display: inline-block;
}
.custom-margin{
    margin: 3% 4%;
}
.box-sizing-border{
    box-sizing: border-box;
}
.clear{
    clear: both;
}


/* custom style */
header{
    background-color: #0C65ED;
    padding: 10px 0px;
}
#blog_section{
    padding: 3% 0;
}

#blog_section .card{
    width: 30%;
    margin-top: 3%;
    background-color: white;
    /* border: 2px solid; */
    padding: 2%;
    border-radius: 10px;

}
#blog_section .card-img{
    width: 100%;
    border-radius: 10px;
}
#blog_section .card .card-body{
    padding: 3%;
}
#blog_section .card .card-btn{
    margin-top: 5%;
    /* padding-top: 10%; */
    padding: 3%;
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
    background-color: black;
    color: white;
    border: 3px solid chartreuse;
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    border-radius: 8px;
    
}


form{
    background-color: aqua;
    padding: 3%;
}

input{
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
    border: 0;
    color: white;
    border-radius: 5px;
    background-color: black;
}

/* contact section style */

#contact-section{
    padding: 3% 0;
}
#contact-section .card{
    width: 30%;
    background-color: aqua;
    padding: 2%;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 2%;
    float: left;
    
}

